<!-- body -->
<section id="wrapper" class="home">
  <div class="about">
    <ol class="list-view">

      <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(assets/images/bank.svg);background-size: auto;"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Finance and Banking</h3>
          </div>
          <p class="_summary">FinTech
          </p>
        </div>
      </li>

      <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(assets/images/code.svg);background-size: auto;"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Programming</h3>
          </div>
          <p class="_summary">Programming
        </div>
      </li>

      <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(assets/images/ds.svg);background-size: contain;background-color:#d43892;"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Data Science</h3>
          </div>
          <p class="_summary">Data Science
          </p>
        </div>
      </li>

      <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(assets/images/course.svg);background-size: auto;"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Courses</h3>
          </div>
          <p class="_summary">Courses
          </p>
        </div>
      </li>

      <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(assets/images/icon2.svg);background-size: cover; background-color:#f3cf11;"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Physics</h3>
          </div>
          <p class="_summary">Physics
          </p>
        </div>
      </li>

      <li class="list-item">
        <div class="list-header">
          <div class="_bubble" style="background-image: url(assets/images/work.svg);background-size: auto;"></div>
        </div>
        <div class="list-detail">
          <div class="_title-block">
            <h3>Blog</h3>
          </div>
          <p class="_summary">My latest posts at <a href="https://medium.com/@javad.ebadi.1990">Medium</a>
            channel.
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>