<div [ngClass]='["container"]'>
    <h1 [ngClass]='["h1"]'>Physics</h1>
    <div [ngClass]='["row"]'>
        <p>Physics is a science to study and discover the laws of nature. Metaphysics contains problems which couldn't answered by physics. In this page, I write about physics.</p>
    </div>

    <h2 [ngClass]='["h2"]'>Talks</h2>
    <div [ngClass]='["row"]'>
        <p>
            I talked about
                <a href="https://youtu.be/9FzKYXUfi40">
                Machine Learning in Particle Physics
                </a> (Persian) at Charkh (a scientfic show at Channel 4, Iran TV).
            The videos are available at TV-4 arxiv 
            (<a href="https://tv4.ir/episodeinfo/192022">section 1</a>,
             <a href="https://tv4.ir/episodeinfo/192023">section 2</a>).
        </p>
    </div>
</div>
