<footer class="footer d-flex  bg-white d-flex justify-content-center pb-3">

    <a *ngIf="linkedin" [href]="linkedin" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-linkedin', 'fa-1x']"></i>
    </a>
    <a *ngIf="github" [href]="github" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-github', 'fa-1x']"></i>
    </a>
    <a *ngIf="medium" [href]="medium" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-medium', 'fa-1x']"></i>
    </a>
    <a *ngIf="slideshare" [href]="slideshare" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-slideshare', 'fa-1x']"></i>
    </a>
    <a *ngIf="facebook" [href]="facebook" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-facebook', 'fa-1x']"></i>
    </a>
    <a *ngIf="instagram" [href]="instagram" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-instagram', 'fa-1x']"></i>
    </a>
    <a *ngIf="twitter" [href]="twitter" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-twitter', 'fa-1x']"></i>
    </a>
    <a *ngIf="telegram" [href]="telegram" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-telegram', 'fa-1x']"></i>
    </a>
    <a *ngIf="soundcloud" [href]="soundcloud" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-soundcloud', 'fa-1x']"></i>
    </a>
    <a *ngIf="skype" [href]="skype" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-skype', 'fa-1x']"></i>
    </a>
    <a *ngIf="stackoverflow" [href]="stackoverflow" [ngClass]="['pr-3']">
        <i [ngClass]="['fa', 'fa-stack-overflow', 'fa-1x']"></i>
    </a>
    <a *ngIf="inspire" [href]="inspire" [ngClass]="['pr-3']">
        <i [ngClass]="['ai', 'ai-inspire', 'fa-1x']"></i>
    </a>
    <a *ngIf="googleScholar" [href]="googleScholar" [ngClass]="['pr-3']">
        <i [ngClass]="['ai', 'ai-google-scholar', 'fa-1x']"></i>
    </a>
    <a *ngIf="researchgate" [href]="researchgate" [ngClass]="['pr-3']">
        <i [ngClass]="['ai', 'ai-researchgate', 'fa-1x']"></i>
    </a>

</footer>